*{
  margin: 0;
  border: 0;
  padding: 0;
}
header{
  text-align: center;
}
li{
  list-style-type: none;
}
body{
  background-image: url("cbb.jpg");
  background-size: cover;
  background-position: center;
}
h3{
  text-align: center;
  color: Maroon;
  font-family: 'Playfair Display SC';
  font-size: 70px;
  border: 0;
  margin: 5;
  padding: 0;
}
h1{
  text-align: center;
  color: transparent;
  font-family: 'Playfair Display SC';
  font-size: 50px;
}
h2{
  text-align: center;
  color: transparent;
  font-family: 'Russo One';
  font-size: 128px;
}
p {
  font-size: 22px;
}
input {
  text-align: center;
  color: transparent;
  margin: auto;
  border: 0;
  background: transparent;
  font-family: 'Russo One';
  font-size: 20px;
}
input:hover{
  color: rgba(0,0,0,0);
}
input[type="submit"] {
  background: red;
  color: white;
}
.hi{
  color: white;
  background: transparent;
  font-size: 35px;
  padding: 0;
  border: none;
  font-family: 'Playfair Display SC';
}
.ye{
  text-align: center;
  color: transparent;
  margin: auto;
  border: 0;
  background: transparent;
  font-family: 'Russo One';
  font-size: 20px;
}
.ye:hover{
    color: rgba(0,0,0,0);
}
.pop{
  background: black;
  color: white;
  padding: 10px;
  font-family: 'Russo One';
}
.div{
  background: black;
  width: 50%;
  height: 50%;
  text-align: center;
  margin-left: 25%;
}
.classy{
  color: maroon;
  font-family: 'Playfair Display SC';
  text-align: left;
  margin: 10%;
  font-size: 17px;
  background: black;
}
.psych{
  color: white;
  font-family: 'Mystery Quest', cursive;
  text-align: left;
  margin: 10%;
  font-size: 17px;
  background: black;
}
.future{
  color: white;
  font-family: 'Nova Square', cursive;
  text-align: left;
  margin: 10%;
  font-size: 17px;
  background: black;
}
h4{
  color:white;
}
.butTheme{
  background: black;
}
