*{
  margin: 0;
  border: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
header{
  text-align: center;
}
body{
  background-image: url("trip.gif");
  background-size: cover;
  background-position: center;
}
h3{
  text-align: center;
  color: black;
  font-family: 'Russo One';
  font-size: 70px;
}
h1{
  text-align: center;
  color: black;
  font-family: 'Mystery Quest';
  font-size: 60px;
  margin: 0;
  border: 10px;
  padding: 10px;
}
h2{
  text-align: center;
  color: transparent;
  font-family: 'Russo One';
  font-size: 70px;
}
p {
  font-size: 40px;
  color: black;
  text-align: center;
  font-family: 'Russo One';
}
.r {
  font-size: 40px;
  color: transparent;
  text-align: center;
}
input {
  text-align: center;
  color: black;
  margin: 30px;
  border: 0;
  background: transparent;
  font-family: 'Mystery Quest';
  font-size: 40px;
}
input:hover{
  color: maroon;
}
input[type="submit"] {
  background: red;
  color: white;
}
.hi{
  color: black;
  background: black;
  padding: 0;
  border: none;
}
.ye{
  text-align: center;
  color: black;
  margin: 30px;
  border: 0;
  background: transparent;
  font-family: 'Mystery Quest';
  font-size: 40px;
}
.ye:hover{
  color: maroon;
}
div{
  background-image: "cbb.jpg";
}
.pop{
  background: black;
  color: white;
  padding: 10px;
  font-family: 'Russo One';
}
.div{
  background: black;
  width: 50%;
  height: 50%;
  text-align: center;
  margin-left: 25%;
}
.classy{
  color: white;
  font-family: 'Playfair Display SC';
  text-align: left;
  margin: 10%;
  font-size: 17px;
  background: black;
}
.psych{
  color: purple;
  font-family: 'Mystery Quest', cursive;
  text-align: left;
  margin: 10%;
  font-size: 17px;
  background: black;
}
.future{
  color: white;
  font-family: 'Nova Square', cursive;
  text-align: left;
  margin: 10%;
  font-size: 17px;
  background: black;
}
h4{
  color:white;
}
.butTheme{
  background: black;
}
.cover{
  background: rgba(255, 0, 0, 0.7);
  width: 75%;
  height: 75%;
  margin-left: 12%;
}
